body{
    text-align: center;
    font-family: 'Ubuntu','sans-serif';
    color: white;
    background-color: black;
}
#h1-1{
    margin-bottom: 10px;
}
h1{
    font-family: 'Viaoda Libre', cursive;
}
h2{
    font-family: 'Viaoda Libre', cursive;
}
.links-int{
    padding: 0 10px 20px 10px;
    font-family: 'Viaoda Libre', cursive;
}
.links-int > a{
    padding: 0 30px 0 30px;
    font-size: 30px;
}
img{
    width: 300px;
}
p{
    font-size: 18px;
}
.p-me{
    font-size: 20px;
}
li{
    font-size: 18px;
}
ul{
    list-style-type: none;
}
ol{
    list-style: none;
}
a{
    text-decoration: none;
    color: white;
    font-size: 18px;
}
em{
    color: aliceblue;
}
strong{
    font-size: 25px;
}