*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Ubuntu', sans-serif;
}
html,body{
    height: 100%;
}
.container{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}
.clear{
    clear: both;
}